In [3]:
import pandas as pd
import numpy as np 

notasAlunos_DF = pd.DataFrame({

    "Nome" : ["Pedro", "João", "Bento"],
    "Av1" : [10, 7.5,3.5],
    "Av2" : [6.5, 9.5, 7.5],
    "Av3" : [10,8,9],
    "Av4" : [3.5, 2.0,5.0],
    
})

display(notasAlunos_DF)

    Nome   Av1  Av2  Av3  Av4
0  Pedro  10.0  6.5   10  3.5
1   João   7.5  9.5    8  2.0
2  Bento   3.5  7.5    9  5.0

In [7]:
import pandas as pd
import numpy as np 

notasAlunos_DF = pd.DataFrame({

    "Nome" : ["Pedro", "João", "Bento"],
    "Av1" : [10, 7.5,3.5],
    "Av2" : [6.5, 9.5, 7.5],
    "Av3" : [10,8,9],
    "Av4" : [3.5, 2.0,5.0],
    
})

#Adicionando nova coluna e calculando a média 
notasAlunos_DF["Média"] = (notasAlunos_DF["Av1"] + notasAlunos_DF["Av2"] + notasAlunos_DF["Av3"] + notasAlunos_DF["Av4"]) / 4

display(notasAlunos_DF)

    Nome   Av1  Av2  Av3  Av4  Média
0  Pedro  10.0  6.5   10  3.5   7.50
1   João   7.5  9.5    8  2.0   6.75
2  Bento   3.5  7.5    9  5.0   6.25

In [9]:
import pandas as pd
import numpy as np 

notasAlunos_DF = pd.DataFrame({

    "Nome" : ["Pedro", "João", "Bento"],
    "Av1" : [10, 7.5,3.5],
    "Av2" : [6.5, 9.5, 7.5],
    "Av3" : [10,8,9],
    "Av4" : [3.5, 2.0,5.0],
    
})

#Adicionando nova coluna e calculando a média 
notasAlunos_DF["Média"] = (notasAlunos_DF["Av1"] + notasAlunos_DF["Av2"] + notasAlunos_DF["Av3"] + notasAlunos_DF["Av4"]) / 4

#Adicionando uma coluna com o valor padrão 
notasAlunos_DF["Faltas"] = 5 

display(notasAlunos_DF)

    Nome   Av1  Av2  Av3  Av4  Média  Faltas
0  Pedro  10.0  6.5   10  3.5   7.50       5
1   João   7.5  9.5    8  2.0   6.75       5
2  Bento   3.5  7.5    9  5.0   6.25       5

In [14]:
import pandas as pd
import numpy as np 

notasAlunos_DF = pd.DataFrame({

    "Nome" : ["Pedro", "João", "Bento"],
    "Av1" : [10, 7.5,3.5],
    "Av2" : [6.5, 9.5, 7.5],
    "Av3" : [10,8,9],
    "Av4" : [3.5, 2.0,5.0],
    
})

#Adicionando nova coluna e calculando a média 
notasAlunos_DF["Média"] = (notasAlunos_DF["Av1"] + notasAlunos_DF["Av2"] + notasAlunos_DF["Av3"] + notasAlunos_DF["Av4"]) / 4

#Adicionando uma coluna com uma dict
colFaltas = [0,3,2]
notasAlunos_DF["Faltas"] = colFaltas 

display(notasAlunos_DF)

    Nome   Av1  Av2  Av3  Av4  Média  Faltas
0  Pedro  10.0  6.5   10  3.5   7.50       0
1   João   7.5  9.5    8  2.0   6.75       3
2  Bento   3.5  7.5    9  5.0   6.25       2

In [21]:
import pandas as pd
import numpy as np 

notasAlunos_DF = pd.DataFrame({

    "Nome" : ["Pedro", "João", "Bento"],
    "Av1" : [10, 7.5,3.5],
    "Av2" : [6.5, 9.5, 7.5],
    "Av3" : [10,8,9],
    "Av4" : [3.5, 2.0,5.0],
    
})

#Adicionando nova coluna e calculando a média 
notasAlunos_DF["Média"] = (notasAlunos_DF["Av1"] + notasAlunos_DF["Av2"] + notasAlunos_DF["Av3"] + notasAlunos_DF["Av4"]) / 4

#Adicionando uma coluna com uma dict
colFaltas = [0,3,2]
notasAlunos_DF["Faltas"] = colFaltas 

#Alterar a nota de um aluno 
notasAlunos_DF.loc[0,"Av2"] = 10

#Recalculando a coluna média 
notasAlunos_DF["Média"] = (notasAlunos_DF["Av1"] + notasAlunos_DF["Av2"] + notasAlunos_DF["Av3"] + notasAlunos_DF["Av4"]) / 4

display(notasAlunos_DF)

    Nome   Av1   Av2  Av3  Av4  Média  Faltas
0  Pedro  10.0  10.0   10  3.5  8.375       0
1   João   7.5   9.5    8  2.0  6.750       3
2  Bento   3.5   7.5    9  5.0  6.250       2