In [1]:
import pandas as pd 

#Configurando o caminho do arquivo
vendas_DF = pd.read_excel("..//dados//Vendas_Janeiro.xlsx") #Como está na mesma pasta então não precisa por o caminho completo

display(vendas_DF)

            Vendedor                        Produto Data Venda  Total Vendas
0   Leonardo Almeida                 Tênis Feminino 2023-01-01        719.92
1     Eliane Moreira          Calça Feminina Jogger 2023-01-02        139.98
2    Nicolas Pereira               Camisa Masculina 2023-01-03        306.80
3     Amanda Martins              Bermuda Masculino 2023-01-04       1485.60
4       Paulo Santos  Camisa Masculina Festa Balada 2023-01-05        876.84
5    Gabriel Cardoso                 Bota Masculina 2023-01-06        448.28
6   Leonardo Almeida        Jaqueta Masculina Preta 2023-01-07        602.00
7     Eliane Moreira              Bolsa de Trabalho 2023-01-08        994.92
8    Nicolas Pereira    Kit de Pinceis de Maquiagem 2023-01-09       1048.68
9     Amanda Martins               Vestido Infantil 2023-01-10         59.90
10  Leonardo Almeida                Calça Bailarina 2023-01-11        281.40
11    Eliane Moreira                 Camisa Térmica 2023-01-12         83.80
12   Nicolas Pereira                  Sapato Social 2023-01-13        573.30
13    Amanda Martins               Sapatilha Sapato 2023-01-14        503.10
14    Eliane Moreira                 Colar Pingente 2023-01-15        719.20
15      Angela Maria                 Tênis Feminino 2023-01-16        359.96
16    Carlos Moreira          Calça Feminina Jogger 2023-01-17        489.93
17    Eliane Moreira               Camisa Masculina 2023-01-18       1073.80
18   Nicolas Pereira              Bermuda Masculino 2023-01-19       1039.92
19  Leonardo Almeida  Camisa Masculina Festa Balada 2023-01-20       1315.26
20   Gabriel Cardoso                 Bota Masculina 2023-01-21       1344.84
21  Leonardo Almeida        Jaqueta Masculina Preta 2023-01-22        903.00
22    Eliane Moreira              Bolsa de Trabalho 2023-01-23        994.92
23   Nicolas Pereira    Kit de Pinceis de Maquiagem 2023-01-24       1048.68
24    Amanda Martins               Vestido Infantil 2023-01-25        479.20
25    Eliane Moreira                Calça Bailarina 2023-01-26        234.50
26   Nicolas Pereira                 Camisa Térmica 2023-01-27        377.10
27    Amanda Martins                  Sapato Social 2023-01-28        737.10

In [2]:
import pandas as pd 

#Configurando o caminho do arquivo
vendas_DF = pd.read_excel("..//dados//Vendas_Janeiro.xlsx")

display(vendas_DF.index)

RangeIndex(start=0, stop=28, step=1)

In [3]:
import pandas as pd 

#Configurando o caminho do arquivo
vendas_DF = pd.read_excel("..//dados//Vendas_Janeiro.xlsx")

#Retorna as colunas da tabela 
display(vendas_DF.columns)

Index(['Vendedor', 'Produto', 'Data Venda', 'Total Vendas'], dtype='object')

In [4]:
import pandas as pd 

#Configurando o caminho do arquivo
vendas_DF = pd.read_excel("..//dados//Vendas_Janeiro.xlsx")

#Head(): por padrão retorna os 5 primeiros da tabela ou pode colocar um valor específico.
display(vendas_DF.head(9))

           Vendedor                        Produto Data Venda  Total Vendas
0  Leonardo Almeida                 Tênis Feminino 2023-01-01        719.92
1    Eliane Moreira          Calça Feminina Jogger 2023-01-02        139.98
2   Nicolas Pereira               Camisa Masculina 2023-01-03        306.80
3    Amanda Martins              Bermuda Masculino 2023-01-04       1485.60
4      Paulo Santos  Camisa Masculina Festa Balada 2023-01-05        876.84
5   Gabriel Cardoso                 Bota Masculina 2023-01-06        448.28
6  Leonardo Almeida        Jaqueta Masculina Preta 2023-01-07        602.00
7    Eliane Moreira              Bolsa de Trabalho 2023-01-08        994.92
8   Nicolas Pereira    Kit de Pinceis de Maquiagem 2023-01-09       1048.68

In [5]:
import pandas as pd 

#Configurando o caminho do arquivo
vendas_DF = pd.read_excel("..//dados//Vendas_Janeiro.xlsx")

#Tail(): por padrão retorna os 5 últimos da tabela ou pode colocar um valor específico.
display(vendas_DF.tail(3))

           Vendedor          Produto Data Venda  Total Vendas
25   Eliane Moreira  Calça Bailarina 2023-01-26         234.5
26  Nicolas Pereira   Camisa Térmica 2023-01-27         377.1
27   Amanda Martins    Sapato Social 2023-01-28         737.1

In [6]:
import pandas as pd 

#Configurando o caminho do arquivo
vendas_DF = pd.read_excel("..//dados//Vendas_Janeiro.xlsx")

display(vendas_DF[["Vendedor","Total Vendas"]].tail())

           Vendedor  Total Vendas
23  Nicolas Pereira       1048.68
24   Amanda Martins        479.20
25   Eliane Moreira        234.50
26  Nicolas Pereira        377.10
27   Amanda Martins        737.10

In [7]:
import pandas as pd 

#Configurando o caminho do arquivo
vendas_DF = pd.read_excel("..//dados//Vendas_Janeiro.xlsx")

#Retorna a tabela através de um intervalo específico do número de linhas 
display(vendas_DF.loc[0:5])

           Vendedor                        Produto Data Venda  Total Vendas
0  Leonardo Almeida                 Tênis Feminino 2023-01-01        719.92
1    Eliane Moreira          Calça Feminina Jogger 2023-01-02        139.98
2   Nicolas Pereira               Camisa Masculina 2023-01-03        306.80
3    Amanda Martins              Bermuda Masculino 2023-01-04       1485.60
4      Paulo Santos  Camisa Masculina Festa Balada 2023-01-05        876.84
5   Gabriel Cardoso                 Bota Masculina 2023-01-06        448.28

In [8]:
import pandas as pd 

#Configurando o caminho do arquivo
vendas_DF = pd.read_excel("..//dados//Vendas_Janeiro.xlsx")

#Filtrando um valor específico e selecionando apenas 2 colunas da tabela (Vendedor e Total de Vendas)
vendas_Leonardo_Almeida_DF = vendas_DF.loc[vendas_DF["Vendedor"] == "Leonardo Almeida" , ["Vendedor", "Total Vendas"]]

display(vendas_Leonardo_Almeida_DF)

            Vendedor  Total Vendas
0   Leonardo Almeida        719.92
6   Leonardo Almeida        602.00
10  Leonardo Almeida        281.40
19  Leonardo Almeida       1315.26
21  Leonardo Almeida        903.00

In [9]:
import pandas as pd 

vendas_DF = pd.read_excel("..//dados//Vendas_Janeiro.xlsx")

# Shape - Informa o numero de linhas e o numero de colunas da tabela 
display(vendas_DF.shape)

(28, 4)