In [7]:
import pandas as pd 

#Arquivo de Vendas
vendasDF = pd.read_excel("..//dados//Vendas_Merge.xlsx")

#Arquivo de Vendedores
vendedoresDF = pd.read_excel("..//dados//Vendedores_Merge.xlsx")

#Arquivo de Produtos
produtosDF = pd.read_excel("..//dados//Produtos_Merge.xlsx")

display(produtosDF)

    ID Produto                        Produto  Valor Unitário
0       100212              Bermuda Masculino          148.56
1       100411              Bolsa de Trabalho          248.73
2       100301                 Bota Masculina          224.14
3       100208                Calça Bailarina           46.90
4       100359          Calça Feminina Jogger           69.99
5       100105               Camisa Masculina          153.40
6       100244  Camisa Masculina Festa Balada          146.14
7       100226                 Camisa Térmica           41.90
8       100001                 Colar Pingente           89.90
9       100345        Jaqueta Masculina Preta          150.50
10      100128    Kit de Pinceis de Maquiagem          116.52
11      100443               Sapatilha Sapato           55.90
12      100128                  Sapato Social           81.90
13      100482                 Tênis Feminino           89.99
14      100877               Vestido Infantil           59.90

In [11]:
import pandas as pd 

#Arquivo de Vendas
vendasDF = pd.read_excel("..//dados//Vendas_Merge.xlsx")

#Arquivo de Vendedores
vendedoresDF = pd.read_excel("..//dados//Vendedores_Merge.xlsx")

#Arquivo de Produtos
produtosDF = pd.read_excel("..//dados//Produtos_Merge.xlsx")

vendasDF = vendasDF.merge(vendedoresDF)

display(vendasDF)

,Id Vendedor,ID Produto,Data Venda,Quantidade Vendida,Valor Unitário,Total Vendas,Vendedor,Meta
0,27264,100482,2023-01-01,8,89.99,719.92,Leonardo Almeida,5000
1,21732,100359,2023-01-02,2,69.99,139.98,Eliane Moreira,5000
2,27082,100105,2023-01-03,2,153.40,306.80,Nicolas Pereira,5000
3,22936,100212,2023-01-04,10,148.56,1485.60,Amanda Martins,5000
4,21164,100244,2023-01-05,6,146.14,876.84,Paulo Santos,5000
5,28824,100301,2023-01-06,2,224.14,448.28,Gabriel Cardoso,5000
6,27264,100345,2023-01-07,4,150.50,602.00,Leonardo Almeida,5000
7,21732,100411,2023-01-08,4,248.73,994.92,Eliane Moreira,5000
8,27082,100128,2023-01-09,9,116.52,1048.68,Nicolas Pereira,5000
9,22936,100877,2023-01-10,1,59.90,59.90,Amanda Martins,5000
10,27264,100208,2023-01-11,6,46.90,281.40,Leonardo Almeida,5000
11,21732,100226,2023-01-12,2,41.90,83.80,Eliane Moreira,5000
12,27082,100128,2023-01-13,7,81.90,573.30,Nicolas Pereira,5000
13,22936,100443,2023-01-14,9,55.90,503.10,Amanda Martins,5000
14,21732,100001,2023-01-15,8,89.90,719.20,Eliane Moreira,5000
15,37579,100482,2023-01-16,4,89.99,359.96,Angela Maria,5000
16,20437,100359,2023-01-17,7,69.99,489.93,Carlos Moreira,5000
17,21732,100105,2023-01-18,7,153.40,1073.80,Eliane Moreira,5000
18,27082,100212,2023-01-19,7,148.56,1039.92,Nicolas Pereira,5000
19,27264,100244,2023-01-20,9,146.14,1315.26,Leonardo Almeida,5000
20,28824,100301,2023-01-21,6,224.14,1344.84,Gabriel Cardoso,5000
21,27264,100345,2023-01-22,6,150.50,903.00,Leonardo Almeida,5000
22,21732,100411,2023-01-23,4,248.73,994.92,Eliane Moreira,5000
23,27082,100128,2023-01-24,9,116.52,1048.68,Nicolas Pereira,5000
24,22936,100877,2023-01-25,8,59.90,479.20,Amanda Martins,5000
25,21732,100208,2023-01-26,5,46.90,234.50,Eliane Moreira,5000
26,27082,100226,2023-01-27,9,41.90,377.10,Nicolas Pereira,5000
27,22936,100128,2023-01-28,9,81.90,737.10,Amanda Martins,5000

In [23]:
import pandas as pd 

#Arquivo de Vendas
vendasDF = pd.read_excel("..//dados//Vendas_Merge.xlsx")

#Arquivo de Produtos
produtosDF = pd.read_excel("..//dados//Produtos_Merge.xlsx")

#Unindo a tabela de Vendas com a tabela de Produtos
#Através da coluna de 'ID Produto' e 'Valor Unitário'

vendasDF = vendasDF.merge(produtosDF, on = ["ID Produto", "Valor Unitário"])

display(vendasDF)

,Id Vendedor,ID Produto,Data Venda,Quantidade Vendida,Valor Unitário,Total Vendas,Produto
0,27264,100482,2023-01-01,8,89.99,719.92,Tênis Feminino
1,21732,100359,2023-01-02,2,69.99,139.98,Calça Feminina Jogger
2,27082,100105,2023-01-03,2,153.40,306.80,Camisa Masculina
3,22936,100212,2023-01-04,10,148.56,1485.60,Bermuda Masculino
4,21164,100244,2023-01-05,6,146.14,876.84,Camisa Masculina Festa Balada
5,28824,100301,2023-01-06,2,224.14,448.28,Bota Masculina
6,27264,100345,2023-01-07,4,150.50,602.00,Jaqueta Masculina Preta
7,21732,100411,2023-01-08,4,248.73,994.92,Bolsa de Trabalho
8,27082,100128,2023-01-09,9,116.52,1048.68,Kit de Pinceis de Maquiagem
9,22936,100877,2023-01-10,1,59.90,59.90,Vestido Infantil
10,27264,100208,2023-01-11,6,46.90,281.40,Calça Bailarina
11,21732,100226,2023-01-12,2,41.90,83.80,Camisa Térmica
12,27082,100128,2023-01-13,7,81.90,573.30,Sapato Social
13,22936,100443,2023-01-14,9,55.90,503.10,Sapatilha Sapato
14,21732,100001,2023-01-15,8,89.90,719.20,Colar Pingente
15,37579,100482,2023-01-16,4,89.99,359.96,Tênis Feminino
16,20437,100359,2023-01-17,7,69.99,489.93,Calça Feminina Jogger
17,21732,100105,2023-01-18,7,153.40,1073.80,Camisa Masculina
18,27082,100212,2023-01-19,7,148.56,1039.92,Bermuda Masculino
19,27264,100244,2023-01-20,9,146.14,1315.26,Camisa Masculina Festa Balada
20,28824,100301,2023-01-21,6,224.14,1344.84,Bota Masculina
21,27264,100345,2023-01-22,6,150.50,903.00,Jaqueta Masculina Preta
22,21732,100411,2023-01-23,4,248.73,994.92,Bolsa de Trabalho
23,27082,100128,2023-01-24,9,116.52,1048.68,Kit de Pinceis de Maquiagem
24,22936,100877,2023-01-25,8,59.90,479.20,Vestido Infantil
25,21732,100208,2023-01-26,5,46.90,234.50,Calça Bailarina
26,27082,100226,2023-01-27,9,41.90,377.10,Camisa Térmica
27,22936,100128,2023-01-28,9,81.90,737.10,Sapato Social

In [17]:
import pandas as pd 

#Arquivo de Vendas
vendasDF = pd.read_excel("..//dados//Vendas_Merge.xlsx")

#Arquivo de Vendedores
vendedoresDF = pd.read_excel("..//dados//Vendedores_Merge.xlsx")

#Arquivo de Produtos
produtosDF = pd.read_excel("..//dados//Produtos_Merge.xlsx")

vendasDF = vendasDF.merge(produtosDF)

vendasDF = vendasDF.merge(vendedoresDF)

display(vendasDF)

,Id Vendedor,ID Produto,Data Venda,Quantidade Vendida,Valor Unitário,Total Vendas,Produto,Vendedor,Meta
0,27264,100482,2023-01-01,8,89.99,719.92,Tênis Feminino,Leonardo Almeida,5000
1,21732,100359,2023-01-02,2,69.99,139.98,Calça Feminina Jogger,Eliane Moreira,5000
2,27082,100105,2023-01-03,2,153.40,306.80,Camisa Masculina,Nicolas Pereira,5000
3,22936,100212,2023-01-04,10,148.56,1485.60,Bermuda Masculino,Amanda Martins,5000
4,21164,100244,2023-01-05,6,146.14,876.84,Camisa Masculina Festa Balada,Paulo Santos,5000
5,28824,100301,2023-01-06,2,224.14,448.28,Bota Masculina,Gabriel Cardoso,5000
6,27264,100345,2023-01-07,4,150.50,602.00,Jaqueta Masculina Preta,Leonardo Almeida,5000
7,21732,100411,2023-01-08,4,248.73,994.92,Bolsa de Trabalho,Eliane Moreira,5000
8,27082,100128,2023-01-09,9,116.52,1048.68,Kit de Pinceis de Maquiagem,Nicolas Pereira,5000
9,22936,100877,2023-01-10,1,59.90,59.90,Vestido Infantil,Amanda Martins,5000
10,27264,100208,2023-01-11,6,46.90,281.40,Calça Bailarina,Leonardo Almeida,5000
11,21732,100226,2023-01-12,2,41.90,83.80,Camisa Térmica,Eliane Moreira,5000
12,27082,100128,2023-01-13,7,81.90,573.30,Sapato Social,Nicolas Pereira,5000
13,22936,100443,2023-01-14,9,55.90,503.10,Sapatilha Sapato,Amanda Martins,5000
14,21732,100001,2023-01-15,8,89.90,719.20,Colar Pingente,Eliane Moreira,5000
15,37579,100482,2023-01-16,4,89.99,359.96,Tênis Feminino,Angela Maria,5000
16,20437,100359,2023-01-17,7,69.99,489.93,Calça Feminina Jogger,Carlos Moreira,5000
17,21732,100105,2023-01-18,7,153.40,1073.80,Camisa Masculina,Eliane Moreira,5000
18,27082,100212,2023-01-19,7,148.56,1039.92,Bermuda Masculino,Nicolas Pereira,5000
19,27264,100244,2023-01-20,9,146.14,1315.26,Camisa Masculina Festa Balada,Leonardo Almeida,5000
20,28824,100301,2023-01-21,6,224.14,1344.84,Bota Masculina,Gabriel Cardoso,5000
21,27264,100345,2023-01-22,6,150.50,903.00,Jaqueta Masculina Preta,Leonardo Almeida,5000
22,21732,100411,2023-01-23,4,248.73,994.92,Bolsa de Trabalho,Eliane Moreira,5000
23,27082,100128,2023-01-24,9,116.52,1048.68,Kit de Pinceis de Maquiagem,Nicolas Pereira,5000
24,22936,100877,2023-01-25,8,59.90,479.20,Vestido Infantil,Amanda Martins,5000
25,21732,100208,2023-01-26,5,46.90,234.50,Calça Bailarina,Eliane Moreira,5000
26,27082,100226,2023-01-27,9,41.90,377.10,Camisa Térmica,Nicolas Pereira,5000
27,22936,100128,2023-01-28,9,81.90,737.10,Sapato Social,Amanda Martins,5000