In [3]:
import pandas as pd
import numpy as np 

dataFrame_Datas = pd.date_range("20221201", periods =31) #periods = quantos dias 
print(dataFrame_Datas)

DatetimeIndex(['2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04',
               '2022-12-05', '2022-12-06', '2022-12-07', '2022-12-08',
               '2022-12-09', '2022-12-10', '2022-12-11', '2022-12-12',
               '2022-12-13', '2022-12-14', '2022-12-15', '2022-12-16',
               '2022-12-17', '2022-12-18', '2022-12-19', '2022-12-20',
               '2022-12-21', '2022-12-22', '2022-12-23', '2022-12-24',
               '2022-12-25', '2022-12-26', '2022-12-27', '2022-12-28',
               '2022-12-29', '2022-12-30', '2022-12-31'],
              dtype='datetime64[ns]', freq='D')

In [29]:
import pandas as pd
import numpy as np 

dataFrame_Meses = pd.date_range("20221201", periods =31, freq ="ME") 
print(dataFrame_Meses)

DatetimeIndex(['2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31',
               '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31',
               '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30',
               '2023-12-31', '2024-01-31', '2024-02-29', '2024-03-31',
               '2024-04-30', '2024-05-31', '2024-06-30', '2024-07-31',
               '2024-08-31', '2024-09-30', '2024-10-31', '2024-11-30',
               '2024-12-31', '2025-01-31', '2025-02-28', '2025-03-31',
               '2025-04-30', '2025-05-31', '2025-06-30'],
              dtype='datetime64[ns]', freq='ME')

In [21]:
import pandas as pd
import numpy as np 

#Data Frame de números aleatórios 
numAleatorios = pd.DataFrame(np.random.rand(5,1))
print(numAleatorios)

          0
0  0.175831
1  0.661516
2  0.249708
3  0.305040
4  0.121930

In [26]:
import pandas as pd
import numpy as np 

#Data Frame de números aleatórios 
numeros = pd.DataFrame(np.random.rand(15,10) * 100)
print(numeros)

            0          1          2          3          4          5  \
0   96.758014   4.807717  24.047775   7.963436   0.255456  63.185971
1   46.737370  84.543011  93.165851  71.550843  15.020241  99.434046
2   17.586928  34.709379  29.736546  26.415488  20.990166  61.807400
3   87.485278  52.016257  50.949334  61.678228  90.777928  40.124543
4   65.726424  50.499095  57.618313  65.166232  79.763689  39.257659
5   98.886544   6.230543  50.617336  11.656557   4.373482  58.875440
6   98.595021  68.038024  94.626786  28.876799  16.093453  40.540914
7   10.931654  67.376813  80.873207  41.872432  45.505226  67.601086
8   81.461110   0.532228  48.343109  11.093002  11.171941  15.125631
9    4.541740   4.599824  62.805265  19.007042  82.161239  67.028668
10  38.375208  27.824574  37.755298  66.166747  79.404121  36.799772
11  54.918187  40.608266  67.643363  64.460019  57.821055  31.751538
12  85.219647  56.635438   1.691440  56.085019  39.020855  45.025220
13  34.535097  95.169106  16.699699  29.724881  34.209669  27.123127
14  99.191470  48.745323  29.403911  67.824908  90.067119  76.657324

            6          7          8          9
0   30.667262  81.533322  49.190499  69.862520
1   22.557183  55.257921   5.391041  37.970260
2    8.046145  68.379938  74.701161  32.507333
3    4.421170  11.374566   3.346243  45.928592
4   46.438623  69.403663  12.488393  29.847517
5   33.222661  54.918912  85.436480  12.115155
6   84.450277  36.757102  10.980968  25.133589
7   94.890943  76.634209  96.401797  13.481552
8    7.143073   9.687237  41.370443  38.849682
9   84.957939  81.611544   5.616827  64.903621
10  56.250662  16.432743  25.937040  25.043396
11  91.600479  10.676438  20.815211   2.592806
12  91.878759  10.477724   3.105551  38.201142
13  59.955172   9.286866  48.011126  97.045179
14  26.481104  73.509495  77.832804  49.566906

In [33]:
import pandas as pd
import numpy as np 

#Data Frame de números aleatórios 
notasAlunos_DF = pd.DataFrame ({

    "Nome" : ["Bento", "Pedro", "João"],
    "Av1" : [3.5, 10 , 7.0],
    "Av2" : [10,5.6,9.1]
})

print(notasAlunos_DF)

    Nome   Av1   Av2
0  Bento   3.5  10.0
1  Pedro  10.0   5.6
2   João   7.0   9.1